.ajax-signin__error-panel{
    display: none;
}

.ajax-signin__status-logo-email{
	display: none;
}


.ajax-signin__status-logo-login{
	display: none;
}

.ajax-signin__status-logo-password{
	display: none;
}
.ajax-signin__input-email{
	
}

.players__player{

}


body {

   /* background-color: #69b241;*/
   background-color: #FF6672;
}



.col{
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 9%;
}


.menu__title{
	color: #405261;
	font-size: 4em;
}

.menu__link{
	line-height: 2em;
	background-color: #4c6575;
	color: #fafcff;
    margin-top: 0.8em;
    height: 2em;
    font-size: 1.9rem;
    font-style: italic;
   /*border: 3px #CCCCCC solid;
   border-radius: 10px;*/

}

.menu__link:hover{
    transform: scale(1.03);
	background-color: #405261;
	color: #FFFFFF;
}


.menu__link_center{
	text-align: center;
}

.menu__link_none{
	text-decoration: none!important;
}
